---
import ThemeIcon from "./ThemeIcon.astro";
const firstPart = new URL(Astro.request.url).pathname.split("/")[1];
---

<header class="z-30 sticky top-0">
  <nav
    class="fixed z-40 w-full dark:border-gray-700 bg-white dark:bg-gray-950 md:absolute"
  >
    <div class="m-auto max-w-screen-xl px-4">
      <div
        class="flex px-6 md:px-0 z-20 flex-wrap items-center justify-between py-3 gap-6 md:gap-0"
      >
        <input type="checkbox" name="" id="toggleNav" class="peer hidden" />
        <label
          for="toggleNav"
          class="fixed left-0 top-0 transition-all
                    md:peer-checked:hidden md:hidden opacity-0 hidden peer-checked:z-0
                    peer-checked:opacity-75 peer-checked:block w-full h-screen
                    bg-gray-200 bg-opacity-75 dark:bg-darker dark:opacity-80"
        ></label>
        <div>
          <a href="/" class="text-gray-900 dark:text-white">Eleganza</a>
        </div>

        <div
          id="navlinks"
          class="fixed h-full w-4/5 top-0 -left-full peer-checked:-left-0 md:relative md:top-0 md:left-0 transition-all z-30 md:flex items-center p-8 bg-white dark:bg-gray-950 md:space-y-0 md:p-0 md:flex-nowrap md:bg-transparent md:w-max"
        >
          <div
            class="z-20 flex gap-8 md:gap-0 flex-col md:flex-row md:items-center w-full"
          >
            <ul
              class="pt-28 md:pt-0 gap-8 tracking-wide w-full font-medium flex-col flex md:flex-row md:gap-0"
            >
              <li class="max-w-max">
                <a
                  href="/"
                  class={firstPart === ""
                    ? "text-red-600 block py-2 md:px-3 transition rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-red-600 md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    : "block py-2 md:px-3 transition text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"}
                  >Inicio</a
                >
              </li>
              <li class="max-w-max">
                <a
                  href="/glasses/all"
                  class={firstPart === "glasses"
                    ? "text-red-600 block py-2 md:px-3 transition rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-red-600 md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    : "block py-2 md:px-3 transition text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"}
                  >Products</a
                >
              </li>
              <li class="max-w-max">
                <a
                  href="/#contact"
                  class="block py-2 md:px-3 transition text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Contacto</a
                >
              </li>
              <li class="max-w-max">
                <a
                  href="/glasses/all"
                  class="block text-justify py-2 md:px-3 transition text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Sobre Nosotros</a
                >
              </li>
              <li class="max-w-max">
                <ThemeIcon transition:persist />
              </li>
            </ul>
          </div>
        </div>
        <div class="flex items-center md:hidden max-h-10">
          <label
            role="button"
            for="toggleNav"
            aria-label="humburger"
            id="hamburger"
            class="relative p-6 -mr-6"
          >
            <div
              id="line"
              class="m-auto h-0.5 w-6 rounded bg-sky-900 dark:bg-gray-200 transition duration-300"
            >
            </div>
            <div
              id="line2"
              class="m-auto mt-2 h-0.5 w-6 rounded bg-sky-900 dark:bg-gray-200 transition duration-300"
            >
            </div>
          </label>
        </div>
      </div>
    </div>
  </nav>
</header>
